:root {
    --color-offwhite:  #eeeded;             /* background color*/
  
    --color-main-light: rgb(114, 114, 197);
    --color-main-medium: rgb(114, 114, 197);
    --color-main-dark: rgb(114, 114, 197);
}

body{
    background-color: var(--color-offwhite);
}